[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dep/json"]
	path = dep/json
	url = https://github.com/nlohmann/json.git
[submodule "dep/serial"]
	path = dep/serial
	url = https://github.com/wjwwood/serial.git
